<!-- 
  <div id="slide">
    <img src="http://cdn.akamai.steamstatic.com/steam/apps/275850/header.jpg?t=1471035296"/>
    <img src="http://cdn.akamai.steamstatic.com/steam/apps/495890/header.jpg?t=1470400467"/>
    <img src="http://i.imgur.com/lIRRQjA.jpg"/>
    <img src="http://cdn.akamai.steamstatic.com/steam/apps/304430/header.jpg?t=1469808964"/>
    <img src="http://cdn.akamai.steamstatic.com/steam/apps/268500/header.jpg?t=1467309705"/>
  </div>

 -->




<div class="row">
  {{#each products}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{imagePath}}" alt="...">
        <div class="caption">
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          <div class="clearfix">
            ${{price}}
            <div class="pull-right">
              <label for="sel1" class='label label-default'></label>
              <select class="form" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>

            <a href="#" class="btn btn-success pull-right" role="button">add to cart</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}

</div>


<script type="text/javascript" src="javascripts/pictureRotate.js"></script>
