<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/cklw-Yu3moE/maxresdefault.jpg" alt="...">
      <div class="caption">
        <h3>Ori and the Blind Forest</h3>
        <p>Awesome Game!</p>
        <div class="clearfix">
          $12
          <a href="#" class="btn btn-success pull-right" role="button">add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/cklw-Yu3moE/maxresdefault.jpg" alt="...">
      <div class="caption">
        <h3>Ori and the Blind Forest</h3>
        <p>Awesome Game!</p>
        <div class="clearfix">
          $12
          <a href="#" class="btn btn-success pull-right" role="button">add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://i.ytimg.com/vi/cklw-Yu3moE/maxresdefault.jpg" alt="...">
      <div class="caption">
        <h3>Ori and the Blind Forest</h3>
        <p>Awesome Game!</p>
        <div class="clearfix">
          $12
          <a href="#" class="btn btn-success pull-right" role="button">add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
