

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form action="/user/changePassword" method="post">
      <h1>換密碼囉！</h1>
      {{#if hasError}}
        <div class="alert alert-danger">
            {{message}}
        </div>
      {{/if}}
      <div class="form-group">
        <label for="password">舊密碼</label>
        <input type="password" name='Oldpassword' class='form-control'>
      </div>
      <div class="form-group">
        <label for="password">新密碼</label>
        <input type="password" name='Newpassword' class='form-control'>
      </div>
      <div class="form-group">
        <label for="password">確認密碼</label>
        <input type="password" name='confirmpassword' class='form-control'>
      </div>
      <button type ='submit' class='btn btn-success'>送出</button>
      <input type="hidden" name = '_csrf' value={{csrfToken}}>
    </form>
  </div>
</div>
