body {
  font-size: 16px;
}




#header{
    font-weight: bolder;
    font-size: 16px;
    font-family: "Heiti TC","HeitiTC-Light","LiHei","微軟正黑體","Lato","Verdana","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;!important

}

#header a:hover, #header a:active,#header  a:focus, #header a:visited{
  color: rgba(0,0,0,.87);
  background-color: inherit !important;
}

#root-header {
  background-color:black;
  font-weight: bolder;
  font-size: 16px;
  font-family: "Heiti TC","HeitiTC-Light","LiHei","微軟正黑體","Lato","Verdana","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;!important
}

.test {
  height: 50px;
}

#root-header a:hover, #root-header a:active,#root-header a:focus, #root-header a:visited,#root-header ul li{
  color: white !important;
  background-color: inherit !important;
}

#root-header ul {
  background-color:black;
}

.root-nav a{
  color: white !important;
}
.nav a {
  color: rgba(0,0,0,.65)
}


.navbar {
  margin-bottom: 0px;
}

.thumbnail img {
	max-height: 150px;
}

.thumbnail .description {
	color: #7f7f7f;
}

.price {
	font-weight: bold;
	font-size: 16px;
}
